<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modo Sano</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/invertido.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container py-5 h-100" data-aos="fade-up" data-aos-duration="700">
    <div class="container mt-5">
        <div class="container centered-content">
            <h2 class="text-center" style="color: white;">Visualización de Volumen DICOM</h2>
            <div class="content-container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3>Sagital</h3>
                        <img src="{{ url_for('uploaded_file', filename=sagittal_image) }}" alt="Vista Sagital" class="img-fluid">
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>Coronal</h3>
                        <img src="{{ url_for('uploaded_file', filename=coronal_image) }}" alt="Vista Coronal" class="img-fluid">
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>Axial</h3>
                        <img src="{{ url_for('uploaded_file', filename=axial_image) }}" alt="Vista Axial" class="img-fluid">
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="{{ url_for('display', filename=filename, image_filename=image_filename) }}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
